.App {
  font-family: "Cairo", sans-serif;
}

.App .BackgroundImage {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.App a {
  text-decoration: none;
  color: #a6a9b1;
}
.App a:hover {
  color: #02023b;
}
.App .open-source-link {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 5px;
  font-family: monospace;
  font-size: 14px;
  color: #043e5b;
}

.App .container {
  background: rgb(118, 156, 203, 0.6);
  max-width: 600px;
  padding: 36px 36px 36px 52px;
  border-radius: 10px;
  color: #0b3061;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
