.Weather {
  font-family: "Cairo", sans-serif;
}

.Weather .form input {
  color: #0e3b68;
  background: rgb(220, 224, 228, 0.8);
  border: 10px solid transparent;
  border-radius: 8px;
  margin-block-end: 20px;
}

.Weather .form button {
  color: #0e3b68;
  background: rgb(220, 224, 228, 0.8);
  border: 10px solid transparent;
  border-radius: 8px;
  margin-block-end: 20px;
  margin-left: 10px;
  transition: all 150ms ease-in-out;
}

.Weather .form button:hover {
  background: rgb(149, 191, 232);
}

.WeatherInfo .cityFirst {
  font-family: "Patrick Hand", cursive;
  color: rgb(225, 228, 232, 0.8);
  font-size: 32px;
  margin-bottom: 0;
}
.WeatherInfo .citySecond {
  font-family: "Patrick Hand", cursive;
  font-size: 22px;
  color: rgb(225, 228, 232, 0.8);
}

.WeatherInfo .currentIcon {
  font-size: 60px;
  margin-bottom: 20px;
}
.WeatherInfo .currentTemperature {
  font-size: 58px;
  line-height: 2em;
}
.WeatherInfo .currentTempUnit {
  font-size: 18px;
  line-height: 1;
  position: relative;
  top: -30px;
}
.WeatherInfo .list-group {
  margin-top: 20px;
}
.WeatherInfo .list-group li {
  color: #07315c;
  font-size: 17px;
  list-style-type: none;
  font-family: "Cairo", sans-serif;
}
.WeatherInfo .currentDescription:first-letter {
  text-transform: capitalize;
}

.WeatherInfo .current-date {
  font-size: 14px;
  text-align: left;
}

.WeatherInfo .last-update {
  font-size: 14px;
  text-align: left;
  opacity: 0.9;
}

@media (max-width: 576px) {
  .WeatherInfo {
    text-align: center;
  }
  .WeatherInfo .list-group {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  .WeatherInfo .currentTemperature {
    font-size: 52px;
    line-height: 2em;
  }
  .WeatherInfo .currentTempUnit {
    font-size: 16px;
    line-height: 1;
    position: relative;
    top: -24px;
  }
  .WeatherInfo .forecast-text {
    font-size: 14px;
    text-align: left;
  }
  .WeatherInfo .citySecond {
    font-size: 18px;
  }

  .WeatherInfo .last-update {
    font-size: 12px;
  }
  .WeatherInfo .current-date {
    font-size: 12px;
  }
}
